<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbmQhObu3mW0V_ySkkCoQWmg_zf_S17R8</string>
	<key>GCM_SENDER_ID</key>
	<string>5232815325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aze.firebaseInstaCloneApp</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-9f655</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-9f655.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5232815325:ios:d763ef8f400e9c2ee0ff34</string>
</dict>
</plist>